<%= form_for @patient, :url => { :action => "password_set" }, :html => {:class => "form-horizontal", :method => "put" } do |f| %>
<legend>Patient Password Setup</legend>
<% if @patient.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@patient.errors.count, "error") %> prohibited the password change from being saved:</h2>

	<ul>
		<% @patient.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>


<div class="control-group">
	<%= f.label :choose_password, :class => "control-label" %>
	<div class= "controls">
		<%= f.password_field :password %>
	</div>
</div>

<div class="control-group">
	<%= f.label :password_confirmation, :class => "control-label" %>
	<div class= "controls">
		<%= f.password_field :password_confirmation %>
	</div>
</div>

<%= f.hidden_field :id, :value => @patient.id %>

<div class="form-actions">
	<%= f.button "Continue", :class => "btn btn-primary" %>
	<%= link_to home_page_path do %>
	<button class="btn" method="get">Cancel</button>
	<% end %>
</div>

<% end %>