<%= form_for @ph, :html => {:class => "form-horizontal"} do |f| %>
  <legend>Edit Account</legend>
  <% if @ph.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ph.errors.count, "error") %> prohibited your changes from being saved:</h2>

      <ul>
      <% @ph.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="control-group">
    <%= f.label :first_name, :class => "control-label" %>
    <div class= "controls">
      <%= f.text_field :first_name %>
    </div>
  </div>

	<div class="control-group">
    <%= f.label :last_name, :class => "control-label" %>
    <div class= "controls">
      <%= f.text_field :last_name %>
    </div>
  </div>

	<div class="control-group">
    <%= f.label :state, :class => "control-label" %>
    <div class= "controls">
      <%= f.text_field :state %>
    </div>
  </div>

	<div class="control-group">
    <%= f.label :medical_specialty, :class => "control-label" %>
    <div class= "controls">
      <%= f.text_field :specialty %>
    </div>
  </div>

	<div class="control-group">
    <%= f.label :email_for_login, :class => "control-label" %>
    <div class= "controls">
      <%= f.text_field :email %>
    </div>
  </div>

	

  <div class="form-actions">
		<%= f.button "Save Changes", :class => "btn btn-primary" %>
    <%= link_to physician_account_path(:physician_id => @ph.id) do %>
      <button class="btn" method="get">Go Back</button>
    <% end %>
  </div>

<% end %>