<%= form_for @ph, :url => ph_password_update_path(:physician_id => @ph.id), :html => {:class => "form-horizontal"} do |f| %>
  <legend>New Password</legend>
  <% if @ph.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ph.errors.count, "error") %> prohibited your changes from being saved:</h2>

      <ul>
      <% @ph.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	
	<div class="control-group">
    <%= f.label :new_password, :class => "control-label" %>
    <div class= "controls">
      <%= f.password_field :password %>
    </div>
  </div>

	<div class="control-group">
    <%= f.label :new_password_confirmation, :class => "control-label" %>
    <div class= "controls">
      <%= f.password_field :password_confirmation %>
    </div>
  </div>

  <div class="form-actions">
		<%= f.button "Save Changes", :class => "btn btn-primary" %>
    <%= link_to physician_account_path(:physician_id => @ph.id) do %>
      <button class="btn" method="get">Cancel</button>
    <% end %>
  </div>

<% end %>