     ||     <%= link_to "Back to Patients Listing", physician_patients_path(@ph) %>

<h2>Archived Patient Accounts</h2>

<% @pt_arch.each do |pt| %>
	</br> <%= pt.last_name_first %> <%= pt.phone_number %> Account Status: <%= pt.billing_status %>
	
	<%= link_to "Unarchive", unarchive_patient_path(:patient_id => pt.id, :id => @ph.id) %>
	
	</br>
	<% end %>