<%= form_for @patient, :url => { :action => "admin_pt_password_update" }, :html => {:class => "form-horizontal", :method => "put" } do |f| %>
<legend>Patient</legend>
<% if @patient.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@patient.errors.count, "error") %> prohibited the password change from being saved:</h2>

	<ul>
		<% @patient.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>


<div class="control-group">
	<%= f.label :new_password, :class => "control-label" %>
	<div class= "controls">
		<%= f.password_field :password %>
	</div>
</div>

<div class="control-group">
	<%= f.label :new_password_confirmation, :class => "control-label" %>
	<div class= "controls">
		<%= f.password_field :password_confirmation %>
	</div>
</div>

<div class="form-actions">
	<%= f.button "Save Changes", :class => "btn btn-primary" %>
	<%= link_to physician_patient_path(@ph, @patient) do %>
	<button class="btn" method="get">Go Back</button>
	<% end %>
</div>

<% end %>