<h2>Listing Patients</h2> <h2>of Dr. <% if @physician_or_admin_view && @ph.first_name && @ph.last_name%> <%= @ph.first_name + " " + @ph.last_name %> <% end %></h2>  <% if @ph.archive == true %> <h2>WITHOUT WEB/SMS ACCESS</h2> <% end %>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Dob</th>
      <th>Sex</th>
      <th>Diagnosis</th>
  	  <th>Phone Number</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
			<th></th>
	    <th></th>
    </tr>
  </thead>
<tbody>
  <% @patients.each do |patient| %>
    <tr>
      <td><%= patient.first_name %></td>
      <td><%= patient.last_name %></td>
      <td><%= patient.dob %></td>
      <td><%= patient.sex %></td>
      <td><%= patient.diagnosis %></td>
    	<td><%= patient.phone_number %></td>
      <td>    
        <%= link_to physician_patient_path(@ph, patient) do %>
          <button class="btn">View Patient</button>
        <% end %>
      </td>
			<td>
        <%= link_to physician_patient_log_entries_path(@ph, patient) do %>
          <button class="btn btn-info">View Log</button>
        <% end %>
      </td>
      <td>
        <%= link_to edit_physician_patient_path(@ph, patient) do %>
          <button class="btn btn-warning">Edit Patient</button>
        <% end %>
      </td>
      <td>
        <%= link_to archive_pt_path(:physician_id => @ph.id, :id => patient.id), confirm: 'Are you sure you want to archive this patient?' do %>
          <button class="btn btn-danger">Archive Patient</button>
        <% end %>
      </td>
			<td>
        <%= link_to deactivate_pt_message_path(:physician_id => @ph.id, :patient_id => patient.id), confirm: 'Are you sure you want to deactivate this patient\'s account?' do %>
          <button class="btn btn-danger">Cancel Account</button>
        <% end %>
      </td>
    <% if session[:physician_id] == 1 %>
    <td>
			<%= link_to physician_patient_path(@ph, patient), confirm: 'Are you sure you want to archive this patient?', method: :delete do %>
        <button class="btn btn-danger">Archive Patient</button>
      <% end %>
    </td>
    <% end %>
      
    </tr>
  <% end %>
</tbody>
</table>

<div class="form-actions">
    <%= link_to new_physician_patient_path do %>
        <button class="btn">Create New Patient</button>
    <% end %>
		<%= link_to pt_archive_index_path(:physician_id => @ph.id) do %>
        <button class="btn">View Patient Archive</button>
    <% end %>
		<%= link_to physician_account_path(:physician_id => @ph.id) do %>
        <button class="btn">Manage Account</button>
    <% end %>
</div>