<h2>Patient Details</h2>
<br />
<table class="table table-bordered table-striped">
  <tr><th>First Name</th><td><%= @patient.first_name  %></td></tr>
  <tr><th>Last Name</th><td><%= @patient.last_name %></td></tr>
  <tr><th>Date of Birth</th><td><%= @patient.dob %></td></tr>
  <tr><th>Phone Number</th><td><%= @patient.phone_number %></td></tr>
	<tr><th>Password</th><td>Hidden***</td></tr>
</table>

<div class="form-actions">
  <%= link_to physician_patient_log_entries_path(@ph, @patient) do %>
    <button class="btn">&lt;&lt; Back to Log</button>
  <% end %>
</div>


<%= link_to "Deactivate Account", deactivate_pt_message_path(:patient_id => @patient.id, :physician_id => @ph.id), confirm: 'Are you sure you want to deactivate your account?'%>