<h2>Patient Details</h2>
<br />
<table class="table table-bordered table-striped">
  <tr><th>First Name</th><td><%= @patient.first_name  %></td></tr>
  <tr><th>Last Name</th><td><%= @patient.last_name %></td></tr>
  <tr><th>Date of Birth</th><td><%= @patient.dob %></td></tr>
  <tr><th>Sex</th><td><%= @patient.sex %></tr>
  <tr><th>Diagnosis</th><td><%= @patient.diagnosis %></tr>
  <tr><th>Phone Number</th><td><%= @patient.phone_number %></td></tr>
</table>

<div class="form-actions">
  <%= link_to patients_path do %>
    <button class="btn">&lt;&lt; Return to Patients Listing</button>
  <% end %>
  <%= link_to edit_patient_path(@patient)  do %>
    <button class="btn btn-warning">Edit this Patient</button>
  <% end %>
  <%= link_to patient_path(@patient), confirm: 'Are you sure?', method: :delete  do %>
    <button class="btn btn-danger">Delete this entry</button>
  <% end %>
</div>
