<h2>Eating Behavior Log</h2>
<br />
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Day</th>
      <th>Time</th>
			<th>Where</th>
      <th class="food">Food</th>
      <th>Binge</th>
      <th>Vomit</th>
      <th>Laxative</th>
      <th>Personal notes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @log_entries.each do |log_entry| %>
    <tr>
      <td><%= log_entry.day %></td>
      <td><%= log_entry.time %></td>
			<td><%= log_entry.location %></td>
      <td><%= log_entry.food %></td>
      <td><% if log_entry.binge == true %>
          <%= "X" %>
          <% else %>
          <%= " " %>
          <% end %>
      </td>
      <td><% if log_entry.vomit == true %>
          <%= "X" %>
          <% else %>
          <%= " " %>
          <% end %>
      </td>
      <td><% if log_entry.laxative == true %>
          <%= "X" %>
          <% else%>
          <%= " " %>
          <% end %>
      </td>
      <td><%= log_entry.personal_notes %></td>
      <td>    
        <%= link_to physician_patient_log_entry_path(@ph, @patient, log_entry) do %>
          <button class="btn">View</button>
        <% end %>
      </td>
      <td>
        <%= link_to edit_physician_patient_log_entry_path(@ph, @patient, log_entry)  do %>
          <button class="btn btn-warning">Edit</button>
        <% end %>
      </td>
      <td>
        <%= link_to physician_patient_log_entry_path(@ph, @patient, log_entry), confirm: 'Are you sure?', method: :delete  do %>
          <button class="btn btn-danger">Delete</button>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>


</table>
<div class="form-actions">
  <%= link_to physician_patients_path(@ph) do %>
      <button class="btn">&lt;&lt; Return to Patient Listing</button>
  <% end %>
  <%= link_to physician_patient_log_entries_path(@ph, @patient, format: "pdf") do %>
      <button class="btn">Generate Printable Log (PDF)</button>
  <% end %>
  <%= link_to new_physician_patient_log_entry_path(@ph, @patient)  do %>
      <button class="btn">Create New Entry</button>
  <% end %>
</div>

<%= link_to "Edit Phone Number or Password", pt_edit_path(:patient_id => @patient.id) %>
<%= link_to "View My Account Information", pt_show_path(:patient_id => @patient.id) %>